<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>developmentAppKey</key>
  <string>R1cEq2CaShKK-kNw8hDiUw</string>
  <key>developmentAppSecret</key>
  <string>Wq__tLY8SfebLB_JC9gUww</string>
</dict>
</plist>
